*{box-sizing: border-box;} /*max-width: 1920px*/
a{text-decoration: none; display: inline-block; /*ссылки в строку */}
ul, li{list-style: none; display: inline; margin: 0;padding: 0;}
.body{margin: 0 auto;padding: 0 15px  ;}
button{outline: none;}
input{outline: none;}
video{outline: none;}

*{
    a{text-decoration: none; display: inline-block;}
    ul{list-style: none; display: inline; margin: 0; padding: 0;}
    li{list-style: none; display: inline; margin: 0; padding: 0;}
    button{outline: none;}
    input{outline: none;}
    video{outline: none;}
}

.header{
    background-color: #EEEFF1;
    // min-width: 1920px;
    width: 100%;
    min-height: 700px;
    &_container{
        &_items{
            display: flex;
            justify-content: flex-end;
            &_link{
                &_a{
                    display: inline-block;
                    font-size: 13px;
                    color: black;
                    line-height: 164.1%;
                    letter-spacing: 10%;
                    margin: 20px;
                    text-transform: uppercase;
                    font-weight: normal;
                    &:hover{
                        color: #34547A;
                        font-weight: bolder;
                    }
                   
                }
            }
            &_img{
                &_logo{
                    width: 96px;
                    height: 60px;
                    // display: flex;
                    // justify-content: flex-start;
                }
            }
        }
    }
    &_box{
        display: flex;
        // justify-content: center;
        // align-items: center;
        padding-left: 10%;
        &_img{
            padding-top: 15%;
            // justify-content: center;
            // align-items: center;
            &_picture{
                width: 357px;
                height: 233px;
            }
        }
        &_klondike{
            padding-top: 6%;
            padding-left: 15%;
            &_items{
                // justify-content: center;
                // align-items: center;
                &_link{
                    &_title{
                        color: #000000;
                        font-size: 48px;
                        line-height: 164.1%;
                        font-weight: 600;
                    }
                    &_subtitle{
                        width: 75%;
                        font-size: 16px;
                        color: #727272;
                        line-height: 164.1%;
                        font-weight: normal;
                    }
                    &_button{
                        height: 65px;
                        width: 225px;
                        background-color: #34547A;
                        color: white;
                        font-size: 16px;
                        line-height: 164.1%;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                        border: none;
                        margin-top: 5%;
                        cursor: pointer;

                    &{
                        position: relative;
                        display: inline-block;
                        // padding: 15px 30px;
                        color: #0b304e;
                        text-transform: uppercase;
                        letter-spacing: 4px;
                        text-decoration: none;
                        // font-size: 24px;
                        overflow: hidden;
                        transition: 0.2s;    
                    }
                    &:hover{
                        color: #e0e6eb;
                        background: #105085;
                        box-shadow: 0 0 10px #105085, 0 0 40px #105085, 0 0 80px #105085;
                        transition-delay: 1s;
                    }
                    & span{
                        position: absolute;
                        display: block;
                    }
                    & span:nth-child(1){
                        top: 0;
                        left: -100%;
                        width: 100%;
                        height: 2px;
                        background: linear-gradient(90deg, transparent, #105085);
                    }
                    &:hover span:nth-child(1){
                        left: 100%;
                        transition: 1s;
                    }
                    & span:nth-child(3){
                        bottom: 0;
                        right: -100%;
                        width: 100%;
                        height: 2px;
                        background: linear-gradient(270deg, transparent, #105085);
                    }
                    &:hover span:nth-child(3){
                        right: 100%;
                        transition: 1s;
                        transition-delay: 0.5s;
                    }
                    & span:nth-child(2){
                        top: -100%;
                        right: 0;
                        width: 2px;
                        height: 100%;
                        background: linear-gradient(180deg, transparent, #105085);
                    }
                    &:hover span:nth-child(2){
                        top: 100%;
                        transition: 1s;
                        transition-delay: 0.25s;
                    }
                    & span:nth-child(4){
                        bottom: -100%;
                        left: 0;
                        width: 2px;
                        height: 100%;
                        background: linear-gradient(3600deg, transparent, #105085);
                    }
                    &:hover span:nth-child(4){
                        bottom: 100%;
                        transition: 1s;
                        transition-delay: 0.75s;
                    }
                    }
                    
                }
            }
        }
    }
}


    // &_button{
    //     position: relative;
    //     display: inline-block;
    //     // padding: 15px 30px;
    //     color: #0b304e;
    //     text-transform: uppercase;
    //     letter-spacing: 4px;
    //     text-decoration: none;
    //     // font-size: 24px;
    //     overflow: hidden;
    //     transition: 0.2s;    
    // }
    // &_button:hover{
    //     color: #e0e6eb;
    //     background: #105085;
    //     box-shadow: 0 0 10px #105085, 0 0 40px #105085, 0 0 80px #105085;
    //     transition-delay: 1s;
    // }
    // &_butotn span{
    //     position: absolute;
    //     display: block;
    // }
    // &_button span:nth-child(1){
    //     top: 0;
    //     left: -100%;
    //     width: 100%;
    //     height: 2px;
    //     background: linear-gradient(90deg, transparent, #105085);
    // }
    // &_button:hover span:nth-child(1){
    //     left: 100%;
    //     transition: 1s;
    // }
    // &_button span:nth-child(3){
    //     bottom: 0;
    //     right: -100%;
    //     width: 100%;
    //     height: 2px;
    //     background: linear-gradient(270deg, transparent, #105085);
    // }
    // &_button:hover span:nth-child(3){
    //     right: 100%;
    //     transition: 1s;
    //     transition-delay: 0.5s;
    // }
    // &_button span:nth-child(2){
    //     top: -100%;
    //     right: 0;
    //     width: 2px;
    //     height: 100%;
    //     background: linear-gradient(180deg, transparent, #105085);
    // }
    // &_button:hover span:nth-child(2){
    //     top: 100%;
    //     transition: 1s;
    //     transition-delay: 0.25s;
    // }
    // &_button span:nth-child(4){
    //     bottom: -100%;
    //     left: 0;
    //     width: 2px;
    //     height: 100%;
    //     background: linear-gradient(3600deg, transparent, #105085);
    // }
    // &_button:hover span:nth-child(4){
    //     bottom: 100%;
    //     transition: 1s;
    //     transition-delay: 0.75s;
    // }


