@charset "UTF-8";
* {
  box-sizing: border-box; }

/*max-width: 1920px*/
a {
  text-decoration: none;
  display: inline-block;
  /*ссылки в строку */ }

ul, li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0; }

.body {
  margin: 0 auto;
  padding: 0 15px; }

button {
  outline: none; }

input {
  outline: none; }

video {
  outline: none; }

* a {
  text-decoration: none;
  display: inline-block; }

* ul {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0; }

* li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0; }

* button {
  outline: none; }

* input {
  outline: none; }

* video {
  outline: none; }

.header {
  background-color: #EEEFF1;
  width: 100%;
  min-height: 700px; }
  .header_container_items {
    display: flex;
    justify-content: flex-end; }
    .header_container_items_link_a {
      display: inline-block;
      font-size: 13px;
      color: black;
      line-height: 164.1%;
      letter-spacing: 10%;
      margin: 20px;
      text-transform: uppercase;
      font-weight: normal; }
      .header_container_items_link_a:hover {
        color: #34547A;
        font-weight: bolder; }
    .header_container_items_img_logo {
      width: 96px;
      height: 60px; }
  .header_box {
    display: flex;
    padding-left: 10%; }
    .header_box_img {
      padding-top: 15%; }
      .header_box_img_picture {
        width: 357px;
        height: 233px; }
    .header_box_klondike {
      padding-top: 6%;
      padding-left: 15%; }
      .header_box_klondike_items_link_title {
        color: #000000;
        font-size: 48px;
        line-height: 164.1%;
        font-weight: 600; }
      .header_box_klondike_items_link_subtitle {
        width: 75%;
        font-size: 16px;
        color: #727272;
        line-height: 164.1%;
        font-weight: normal; }
      .header_box_klondike_items_link_button {
        height: 165px;
        width: 225px;
        background-color: #34547A;
        color: white;
        font-size: 16px;
        line-height: 164.1%;
        letter-spacing: 3px;
        text-transform: uppercase;
        border: none;
        margin-top: 5%;
        cursor: pointer; }
        .header_box_klondike_items_link_button {
          position: relative;
          display: inline-block;
          color: #0b304e;
          text-transform: uppercase;
          letter-spacing: 4px;
          text-decoration: none;
          overflow: hidden;
          transition: 0.2s; }
        .header_box_klondike_items_link_button:hover {
          color: #e0e6eb;
          background: #105085;
          box-shadow: 0 0 10px #105085, 0 0 40px #105085, 0 0 80px #105085;
          transition-delay: 1s; }
        .header_box_klondike_items_link_button span {
          position: absolute;
          display: block; }
        .header_box_klondike_items_link_button span:nth-child(1) {
          top: 0;
          left: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, transparent, #105085); }
        .header_box_klondike_items_link_button:hover span:nth-child(1) {
          left: 100%;
          transition: 1s; }
        .header_box_klondike_items_link_button span:nth-child(3) {
          bottom: 0;
          right: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(270deg, transparent, #105085); }
        .header_box_klondike_items_link_button:hover span:nth-child(3) {
          right: 100%;
          transition: 1s;
          transition-delay: 0.5s; }
        .header_box_klondike_items_link_button span:nth-child(2) {
          top: -100%;
          right: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(180deg, transparent, #105085); }
        .header_box_klondike_items_link_button:hover span:nth-child(2) {
          top: 100%;
          transition: 1s;
          transition-delay: 0.25s; }
        .header_box_klondike_items_link_button span:nth-child(4) {
          bottom: -100%;
          left: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(3600deg, transparent, #105085); }
        .header_box_klondike_items_link_button:hover span:nth-child(4) {
          bottom: 100%;
          transition: 1s;
          transition-delay: 0.75s; }
